:root {
  --text-color: #e6e6e6;
  --bg-color: #1a1a1a;
  --accent-color: #0077ff;
  --font-stack: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

[data-theme='light'] {
  --text-color: #333;
  --bg-color: #f0f0f0;
  --accent-color: #0055cc;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-stack);
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

.header {
  display: flex;
  justify-content: flex-end;
  padding: 1rem;
}

.icon {
  fill: #000000;
  stroke: #000000;
}

body.dark-theme .icon {
  fill: #FFFFFF;
  stroke: #FFFFFF;
}

.theme-toggle {
  cursor: pointer;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: var(--text-color);
}

.small-text {
  font-size: smaller;
}

.profile {
  text-align: center;
}

h1 {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.description {
  font-size: 1rem;
  margin-bottom: 2rem;
}

.connect {
  font-size: 1.2rem;
  margin-top: 3rem;
  margin-bottom: 2rem;
  color: var(--accent-color);
  text-align: center;
}

.social-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.social-links a {
  display: inline-flex;
  margin: 0 15px;
  color: var(--text-color);
  transition: color 0.3s;
}

.social-links a:hover,
.social-links a:focus {
  color: var(--accent-color);
  outline: none;
}

.social-links svg {
  height: 40px;
  width: 40px;
}

.row {
  display: flex;
}

#posts, #projects {
  flex: 1; 
  padding: 10px;
}

.post-links, .project-links {
  margin-top: 2rem;
  text-align: center;
}

.post-links h3, .project-links h3 {
  font-size: 1.5rem;
  color: var(--accent-color);
  margin-bottom: 1rem;
}

.post-links ul, .project-links ul {
  list-style-type: none;
  padding: 0;
}

.post-links li, .project-links li {
  margin-bottom: 0.5rem;
}

.post-links a, .project-links a {
  color: #005488;
  text-decoration: none;
  transition: color 0.3s;
}

.post-links a:hover, .project-links a:hover {
  color: #48a0d6;
}

@media screen and (max-width: 768px) {

  .row {
    display: contents;
  }

  .profile {
    margin: 3rem auto;
  }

  h1 {
    font-size: 2rem;
  }

  .title {
    font-size: 1.2rem;
  }

  .description {
    font-size: 0.9rem;
  }

  .social-links a {
    margin: 0 10px;
  }

  .social-links svg {
    height: 30px;
    width: 30px;
  }
}