body {
  scroll-behavior: smooth;
  background-color: #08aeea;
  background: linear-gradient(to right, #07a, #0aa);
  background-size: 200%;
  background-position: 0%;
  font-family: "Open Sans", sans-serif;
}

.container {
  font-size: 1.2em;
  margin-left: 15em;
  margin-right: 15em;
  color: #f5f5f5;
}

#home {
  background: #0ecde9; /* For older browsers that may not support gradients */
  background: linear-gradient(to right, #0aa, #07a);
}


nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background-color: rgb(46, 46, 46);
  height: 3em;
  z-index: 100;
}

nav > ul > li {
  display: inline;
  margin: 1em;
}

h1 {
  font-size: 3.5em;
  text-align: center;
}

.circle {
  position: relative;
  margin: 0 auto 3em;
  height: 14em;
  width: 12em;
  border-radius: 20%;
  box-shadow: 0 0 0 0.8em rgba(255, 255, 255, 0.3);
}

.hide {
  display: none;
}

.show {
  display: block;
}

#menu {
  display: none;
  width: 40px;
  height: 30px;
  font-size: 2em;
  position: absolute;
  top: 5px;
  right: 25px;
  left: 5px;
  cursor: pointer;
}

.text-center {
  text-align: center;
}

.project {
  width: 350px;
  height: 300px;
  display: flex;
  align-items: center;
  margin: 50px 25px;
  text-align: center;
}

.shadow {
  box-shadow: 0 18px 25px rgba(0, 0, 0, 0.42);
}

.social {
  margin: 2rem;
  font-size: 3rem;
  justify-content: space-around;
  text-align: center;
}

p {
  background: transparent;
  font-size: 1em;
}

a {
  color: #fff;
  text-decoration: none;
  margin: 5px;
  transition: all 500ms ease-in-out;
}

li > a:hover {
  text-decoration: underline overline;
  transform: scale(1.5);
}

li {
  list-style: none;
}

i {
  transition: all 0.5s;
}

i:hover {
  transform: rotate(360deg);
}

hr {
  margin: 1em;
}

.up {
  position: fixed;
  right: 1em;
  bottom: 10px;
  font-size: 4em;
}

@media screen and (max-width: 800px) {
  .container {
    margin: 0.5em;
  }
  nav > ul > li {
    display: block;
  }
  #menu {
    display: block;
  }
  nav > ul {
    display: none;
    background-color: rgb(46, 46, 46);
  }
  h1 {
    margin: 1em;
    font-size: 2.5em;
  }
  .circle {
    margin: 2em;
  }

  .list {
    justify-content: flex-start;
  }
}
